.answer-button {
  font-weight: bold;
}

.answer-button.selected {
  background-color: orange;
}

.answer-button.selected.wrong {
  background-color: #ff8585;
}

.answer-button.correct {
  background-color: rgb(0, 182, 0);
}
